In [1]:
#Import the dependencies.
import pandas as pd
import gmaps
import requests
#Import the API key.
from config import g_key

In [2]:
#Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Honningsvag,NO,2021-04-08 19:49:23,70.9821,25.9704,30.20,74,20,2.30
1,1,Bluff,NZ,2021-04-08 19:49:24,-46.6000,168.3333,39.99,96,8,1.99
2,2,Kavieng,PG,2021-04-08 19:49:24,-2.5744,150.7967,79.61,83,100,9.46
3,3,Barrow,US,2021-04-08 19:49:24,71.2906,-156.7887,-16.60,63,75,8.05
4,4,Bonavista,CA,2021-04-08 19:45:36,48.6499,-53.1147,42.80,100,52,5.75

In [3]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
#Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
#Heatmap of temperature
#Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
#Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
#Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
#Add the heatmap layer.
fig.add_layer(heat_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#Heatmap of Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
#Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
#Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 73
What is the maximum temperature you would like for your trip? 96

In [27]:
#Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Kavieng,PG,2021-04-08 19:49:24,-2.5744,150.7967,79.61,83,100,9.46
6,6,Siguiri,GN,2021-04-08 19:49:25,11.6667,-9.5000,91.92,8,1,3.36
8,8,Rikitea,PF,2021-04-08 19:49:26,-23.1203,-134.9692,76.33,64,20,2.73
10,10,Butaritari,KI,2021-04-08 19:49:27,3.0707,172.7902,82.00,78,22,17.22
12,12,Albany,US,2021-04-08 19:46:57,42.6001,-73.9662,73.99,27,11,1.01
22,22,Cabo San Lucas,MX,2021-04-08 19:47:13,22.8909,-109.9124,88.00,39,20,11.50
27,27,Jamestown,US,2021-04-08 19:49:32,42.0970,-79.2353,77.00,33,1,12.66
28,28,Rawah,IQ,2021-04-08 19:49:33,34.4816,41.9093,76.60,23,3,4.90
31,31,Puerto Ayora,EC,2021-04-08 19:49:34,-0.7393,-90.3518,86.00,66,40,17.27
33,33,Saint-Georges,GD,2021-04-08 19:49:35,12.0564,-61.7485,82.20,67,72,11.63

In [28]:
preferred_cities_df.count()

City_ID       213
City          213
Country       213
Date          213
Lat           213
Lng           213
Max Temp      213
Humidity      213
Cloudiness    213
Wind Speed    213
dtype: int64

In [29]:
#Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2          Kavieng      PG     79.61  -2.5744  150.7967
6          Siguiri      GN     91.92  11.6667   -9.5000
8          Rikitea      PF     76.33 -23.1203 -134.9692
10      Butaritari      KI     82.00   3.0707  172.7902
12          Albany      US     73.99  42.6001  -73.9662
22  Cabo San Lucas      MX     88.00  22.8909 -109.9124
27       Jamestown      US     77.00  42.0970  -79.2353
28           Rawah      IQ     76.60  34.4816   41.9093
31    Puerto Ayora      EC     86.00  -0.7393  -90.3518
33   Saint-Georges      GD     82.20  12.0564  -61.7485

In [34]:
#Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
#Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    #Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    #Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
#Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
#Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [40]:
#Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))